/* MENU DE NAVEGACION*/
.rowmenu{
    display: flex;
    width: 55%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
/* CONTENEDOR GENERAL*/
#container{
	width: 55%;
	margin: auto;}

/* SECCION PRODUCTOS*/
.box-section{
	width: 100%;
	display: grid;
	grid-template: repeat(3, 1fr)/repeat(10,1fr)
}

.prod1{
	grid-column: 1/5;
	grid-row: 1/1;
}
.prod2{
    grid-column: 5/11;
    grid-row: 1/1;
}
.prod3{
    grid-column: 1/7;
    grid-row: 2/2;
}
.prod4{
    grid-column: 7/11;
    grid-row: 2/2;
}
.prod5{
    grid-column: 1/6;
    grid-row: 3/3;
}
.prod6{
    grid-column: 6/11;
    grid-row: 3/3;
}

/* SECCION BANNER FINAL*/
.wrap-col{
	display: grid;
	grid-template-columns: 1fr 1fr ;
}
.box-text{
grid-column: 1/2;
}

.content-box.box-3 .lead {
	font-size: 11px;

}
.content-box.box-3 .box-text {
	padding: 40px 30px;
	line-height: 1.5;
}

.content-box.box-3 h1 {
	font-size: 30px;
	color: #222;
	line-height: 1.1;
	margin: 30px 0;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}

.content-box.box-style-1 {
	background: #fff url(../images/model.png) no-repeat 105% ;
	background-size:400px;
	color: #333;
}
.button-skin {
	background-color: #fff;
	color: #098F8E;
	border: 1px solid #098F8E;
	font-weight: bold;
	width: auto;
	padding: 5px 25px;
	border-radius: 30px;
	font-size: 15px;
	margin: 30px 0 0;
}

/* FOOTER*/
.wrap-footer{
	width: 55%;
	margin: auto;
}

.rowfooter{
	width: 100%;
	display: grid;
	grid-template: 1fr / 1fr 1fr 1fr;
	
}
.rowfooter h3{
	font-size: 12px;
	width: 150%;
}
.rowfooter p, .rowfooter address {
	font-size: 9px;
	width: 200%;
	line-height: 2;
}
.col-footer-1{
	grid-column: 1/2;
}
.col-footer-2{
	margin-left: 15px;
	grid-column: 2/3;
	width: 210%;
	}
.col-footer-3{
grid-column: 3/4;
margin-left: 35px;
}

/*------------------------------- ABOUT PAGE*/

/* TITLE*/

article .entry-header .time {
	font-size: 12px;
}
article.single-post .entry-header h1.entry-title {
	font-size: 32px;
}
.cat-links a{
 font-size: 12px;
}

/* BODY*/
article.single-post .entry-content {
	padding: 40px 90px;
	font-size: 11px;
	line-height: 2;
}

article.single-post .entry-content h1  {
font-size: 25px;
}
/*------------------------------- BLOG PAGE*/
